<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.clevergoods.locationservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocationService">

        <receiver
            android:name="com.gmail.clevergoods.locationservice.location.receiver.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gmail.clevergoods.locationservice.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
                <action android:name="com.gmail.clevergoods.locationservice.LocationUpdatesBroadcastReceiver.LOG_LOCATION_SERVICE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".location.service.LocationService"
            android:foregroundServiceType="location"
            android:process=":locationService" />


    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>